<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl mb-lg">
      <div class="col-md-12">
        <h1 class="mt-xl mb-none">Prêmios</h1>
        <p class="lead mb-xl mt-lg">O reconhecimento merecido pela qualidade e qualificação profissional</p>
        <div class="divider divider-primary divider-small mb-xl">
          <hr>
        </div>
        <div class="row mt-xl">
          <div class="col-md-12">
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                  <a title="" [routerLink]="['/premio-detalhe']">
                  <img src="../../assets/img/premios/1.png" class="img-responsive" alt="" style="width: 195px;">
                </a>
              </span>
              <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                  <h2 class="mb-md mt-xs">
                    <a title="" class="text-dark" [routerLink]="['/premio-detalhe']">Escritórios e Advogados mais admirados do Brasil</a>
                  </h2>
                  <span class="post-meta">
                    <span>2008, 2010, 2011, 2012, 2013, 2014 |
                      <a href="#">Revista Análise Advocacia 500</a>
                    </span>
                  </span>
                  <p class="font-size-md" style="text-align: justify;">Em novembro de 2010 recebemos a grata notícia de que o nosso Escritório havia sido citado na edição 2010
                    da Análise Advocacia 500, que traz a lista dos escritórios e advogados mais admirados do Brasil.</p>
                  <a class="mt-md" [routerLink]="['/premio-detalhe']">Leia mais
                    <i class="fa fa-long-arrow-right"></i>
                  </a>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-md-12">
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                <a title="">
                  <img src="../../assets/img/premios/1.png" class="img-responsive" alt="" style="width: 195px;">
                </a>
              </span>
              <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                  <h2 class="mb-md mt-xs">
                    <a title="" class="text-dark">Quality Awards 2012</a>
                  </h2>
                  <span class="post-meta">
                    <span>2012 |
                      <a>Union For Quality- INUQ</a>
                    </span>
                  </span>
                  <p class="font-size-md" style="text-align: justify;">Os advogados Walter Marques Siqueira e Eduardo da Costa Silva receberam no dia 26 de maio de 2012, no Rio
                    de Janeiro, em nome do Escritório MARQUES SIQUEIRA ADVOGADOS ASSOCIADOS, o prêmio de renome internacional:
                    “Quality Awards 2012” concedido pela Intercontinental Union for Quality- INUQ. Com isso, essa instituição
                    certificadora reconhece as instituições que se destacaram nos quesitos de excelência em qualidade empresarial,
                    gestão administrativa, qualidade, responsabilidade social, sustentabilidade, relacionamento com clientes
                    e fornecedores, liderança e resultados obtidos. Mais um prêmio para nós, equipe do Escritório, que temos
                    a honra de dividir com todos nossos clientes, amigos e fornecedores.</p>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-md-12">
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                <a title="">
                  <img src="../../assets/img/premios/1.png" class="img-responsive" alt="" style="width: 195px;">
                </a>
              </span>
              <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                  <h2 class="mb-md mt-xs">
                    <a title="" class="text-dark">Certificado Advocacia de Excelência</a>
                  </h2>
                  <span class="post-meta">
                    <span>2012 |
                      <a>Rede Internacional Advocacia De Excelência</a>
                    </span>
                  </span>
                  <p class="font-size-md" style="text-align: justify;">O advogado Walter Marques Siqueira, membro da Rede Internacional Advocacia de Excelência, recebeu o Certificado
                    de participação na Sessão Acadêmica ocorrida no dia 31 de março de 2012, no Cento de Convenções do Maksoud
                    Plaza em São Paulo, com o Tema “Direito Empresarial – Oportunidades da Advocacia Especializada”.</p>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-md-12">
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                <a title="">
                  <img src="../../assets/img/premios/1.png" class="img-responsive" alt="" style="width: 195px;">
                </a>
              </span>
              <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                  <h2 class="mb-md mt-xs">
                    <a title="" class="text-dark">Mérito Internacional da Justiça</a>
                  </h2>
                  <span class="post-meta">
                    <span>2012 |
                      <a>Associação Portuguesa De Direito Do Consumo (Portugal) / Rede Advocacia De Excelência (Brasil)</a>
                    </span>
                  </span>
                  <p class="font-size-md" style="text-align: justify;">O titular do Escritório Marques Siqueira Advogados Associados, Dr. Walter Marques Siqueira, teve seu trabalho
                    reconhecido dentre outros profissionais da advocacia e de carreiras jurídicas do Brasil bem como outros
                    países da América do Sul e da Europa que se destacaram em diversas áreas de especialidade. O evento aconteceu
                    no Palácio Valença em Sintra, Portugal, em 12 de janeiro de 2012. O Mérito Internacional da Justiça foi
                    conferido pelo Centro de Estudos de Direito do Consumo (Coimbra), pela Associação Portuguesa de Direito
                    do Consumo e pela Rede Advocacia de Excelência (Brasil).</p>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-md-12">
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                <a title="">
                  <img src="../../assets/img/premios/1.png" class="img-responsive" alt="" style="width: 195px;">
                </a>
              </span>
              <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                  <h2 class="mb-md mt-xs">
                    <a title="" class="text-dark">Latin American Quality Awards</a>
                  </h2>
                  <span class="post-meta">
                    <span>2011
                      <a></a>
                    </span>
                  </span>
                  <p class="font-size-md" style="text-align: justify;"></p>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-md-12">
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                <a title="" href="premio-trofeu-top-of-business.html">
                  <img src="../../assets/img/premios/1.png" class="img-responsive" alt="" style="width: 195px;">
                </a>
              </span>
              <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                  <h2 class="mb-md mt-xs">
                    <a title="" class="text-dark" href="premio-trofeu-top-of-business.html">Troféu Top Of Business</a>
                  </h2>
                  <span class="post-meta">
                    <span>2011
                      <a href="#"></a>
                    </span>
                  </span>
                  <p class="font-size-md" style="text-align: justify;">O Escritório Marques Siqueira Advogados Associados foi até o momento da premiação, o único escritório de
                    advocacia em Goiás a receber o Troféu Top Of Business 2011. Esta importante conquista se deu em função
                    do pioneiro trabalho de relacionamento com os clientes, disponibilizando uma equipe multidisciplinar
                    em atendimento aos diferentes ramos do Direito.</p>
                  <a class="mt-md" href="premio-trofeu-top-of-business	.html">Leia mais
                    <i class="fa fa-long-arrow-right"></i>
                  </a>
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>