<div role="main" class="main">
    <div class="container">
        <div class="row pt-xl">
            <div class="col-md-7">
                <h1 class="mt-xl mb-none">Sobre a Marques Siqueira</h1>
                <div class="divider divider-primary divider-small mb-xl">
                    <hr>
                </div>
                <h2 class="mt-xlg mb-md">Disponibilidade, Agilidade & Competência</h2>
                <p style="text-align: justify;">Este é o alicerce da filosofia de trabalho do Marques Siqueira Advogados Associados fundamentada no pleno
                    respeito aos interesses de seus constituintes e apoiada na ética e responsabilidade profissional. A experiência
                    e a solidez de anos de atuação no meio jurídico mostram que somente assim, torna-se possível construir
                    uma relação profissional duradoura entre o Escritório e o Cliente.</p>

                <h2 class="mt-xlg mb-md">Objetivo</h2>
                <p style="text-align: justify;">O Marques Siqueira Advogados Associados tem como objetivo promover o pleno exercício do direito de empresas
                    e pessoas físicas, bem como satisfazer as necessidades para uma assessoria jurídica, preventiva e/ou
                    contenciosa, nas áreas em que a equipe de advogados do Escritório atua, exercendo suas atividades de
                    forma especializada sempre com disponibilidade, agilidade e competência profissional em favor dos nossos
                    clientes.</p>

                <h2 class="mt-xlg mb-md">Assessoria Empresarial</h2>
                <p style="text-align: justify;">Observando o avanço das necessidades jurídicas de empresas de todos os portes e ramos de atuação, o Marques
                    Siqueira Advogados Associados vem prestando um serviço completo de cunho jurídico às inúmeras possibilidades
                    de usufruto do instrumental do Direito.</p>
                <p style="text-align: justify;">Isto é o que chamamos de Assessoria Empresarial Integrada, conceito que conseguimos viabilizar através da
                    incorporação de advogados especialistas, cada qual em sua área jurídica de atuação, assumindo postos
                    importantes dentro do desenvolvimento desse serviço advocatício.</p>
                <p style="text-align: justify;">Contamos ainda com a cooperação de correspondentes em outros Estados do Brasil que possuem esta mesma visão.
                    Mantemos também convênios com profissionais de outras áreas técnicas, visando uma melhor assessoria para
                    nossos clientes (auditoria contábil, fiscal e administrativa). Assim, conseguimos praticar nosso objetivo:
                    prestar a assessoria jurídica pretendida com disponibilidade, agilidade e competência em favor dos nossos
                    clientes.</p>

                <h2 class="mt-xlg mb-md">A Importância do Cliente</h2>
                <p style="text-align: justify;">Para o Marques Siqueira Advogados Associados cliente é o seu maior patrimônio. Sendo assim, deve ter o atendimento
                    mais célere, estando periodicamente informado a respeito dos andamentos processuais sem que haja desvios
                    ou demoras jurídico-procedimentais desnecessárias, de forma que seu problema seja sanado com maior agilidade
                    e menor custo possível.</p>
                <p style="text-align: justify;">O cliente tem seus direitos respeitados pelos membros do Escritório, recebendo informação jurídica precisa
                    na garantia do sigilo de seus interesses. Ele é a principal razão para estarmos sempre buscando o crescimento
                    e o aprimoramento de nossos profissionais e estrutura, para que possamos lhe oferecer um serviço eficiente,
                    seguro e de qualidade.</p>
                <p style="text-align: justify;">Pretendemos desta forma, estar sempre em consonância com os anseios e expectativas dos cidadãos e empresas
                    que contratam nossos serviços, uma vez que estes depositam sua confiança e até seu destino em nossas
                    mãos.</p>
            </div>
            <div class="col-md-4 col-md-offset-1">

                <h4 class="mt-xl mb-none">Institucional</h4>
                <div class="divider divider-primary divider-small mb-xl">
                    <hr>
                </div>
                <div class="embed-responsive embed-responsive-16by9 mb-xl">
                    <!-- <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/o32T0DUI5a8?origin=http://example.com" allowfullscreen="allowfullscreen" frameborder="0" /></iframe> -->
                    <iframe src="http://www.youtube.com/embed/L-Cukd9j2YM?origin=http://example.com" width="560" height="315" frameborder="0"
                        allowfullscreen="allowfullscreen"></iframe>
                </div>

                <h4 class="mt-xlg">Mais sobre nós</h4>
                <div class="divider divider-primary divider-small mb-xl">
                    <hr>
                </div>
                <ul class="list list-unstyled list-primary list-borders">
                    <li class="pt-sm pb-sm">
                        <strong class="text-color-primary font-size-xl">Prêmios - </strong> Reconhecimento merecido pela qualidade e qualificação profissional.</li>
                    <li class="pt-sm pb-sm">
                        <strong class="text-color-primary font-size-xl">Clientes - </strong> Confira alguns nossos clientes</li>
                    <li class="pt-sm pb-sm">
                        <strong class="text-color-primary font-size-xl">Vídeos - </strong> Assista à vídeos de premiações, entrevistas e entre outros.</li>
                    <li class="pt-sm pb-sm">
                        <strong class="text-color-primary font-size-xl">Links Úteis - </strong> Acesse e encontre páginas e links úteis disponilizados em nossa página.</li>
                </ul>
            </div>
        </div>
    </div>
</div>