<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-md-12">
        <div class="blog-posts single-post mt-xl">
          <article style="margin-left: 0px;" class="post post-large blog-single-post">
            <div class="post-content">
              <h1>Escritórios & Advogados mais admirados do Brasil</h1>
              <div class="divider divider-primary divider-small mb-xl">
                <hr>
              </div>
              <div class="post-meta">
                <span>
                  <i class="fa fa-calendar"></i>
                  <a href="#"> 2008, 2010, 2011, 2012, 2013, 2014 </a>
                </span>
                <span>
                  <i class="fa fa-balance-scale"></i> Revista Análise Advocacia 500</span>
              </div>
              <img src="../../assets/img/premios/1.png" class="img-responsive pull-left mb-xs mr-xl" alt="" style="width: 195px;">

              <p class="lead" style="text-align: justify;">Em novembro de 2010 recebemos a grata notícia de que o nosso Escritório havia sido citado na edição 2010 da
                Análise Advocacia 500, que traz a lista dos escritórios e advogados mais admirados do Brasil.</p>

              <p style="text-align: justify;">Somos, sem falsa modéstia, uma equipe que busca desde 1995, atuar com o máximo de disponibilidade, agilidade
                e competência nas diferentes especialidades do Direito, defendendo e preservando os interesses de nossos
                clientes. Uma conquista singular porque temos que considerar que a maioria dos lá citados, pertence ao eixo
                Rio-São Paulo. Ter destaque em conjunto com os grandes de todo o pais, sendo genuinamente goiano é de nos
                orgulharmos.</p>

              <p style="text-align: justify;">Em 2008, 2010, 2011, 2012, 2013 e 2014, o Escritório Marques Siqueira Advogados Associados esteve entre os
                500 Escritórios e Advogados mais admirados do Brasil. A Análise Editorial realizou uma pesquisa com mais
                de cinco mil entrevistas, nos 23 Estados, mais Distrito Federal. Foram citados cerca de 3.000 Escritórios
                e 8.000 Advogados no uso das melhores práticas na profissão e no mercado. Considerando desde 2006 critérios
                e parâmetros para análise, dentro das 12 áreas do Direito. A Revista Análise Editorial já se tornou uma referência
                respeitada, transparente e coerente com a proposta da publicação.</p>

              <p style="text-align: justify;">Convidamos você a navegar no site: www.analise.com para conferir esta nova edição, na qual estão apresentados
                os nomes de mais de 150 bancas e 230 profissionais admirados em 12 áreas do Direito. Além disso, o Anuário
                disponibiliza o perfil completo dos 500 Escritórios mais admirados pelos seus clientes e o ranking dos maiores
                Escritórios por número de advogados.</p>

              <p style="text-align: justify;">Entre as novidades está a lista dos mais admirados por setor da economia. Estão listadas as bancas mais lembradas
                por segmento, como bancos, setores automotivo e mineradoras, além de dez outros segmentos empresariais. Estamos
                muito orgulhosos e felizes por dividir esta importante conquista com você. Brindemos a sensação de começar
                mais um novo ano com o dever cumprido, mas, sobretudo, com a responsabilidade de continuar fazendo o melhor
                a cada dia!</p>

            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>