<div role="main" class="main">
    <div class="container">
        <div class="row pt-xl mb-lg">
            <div class="col-md-12">
                <h1 class="mt-xl mb-none">Vídeos</h1>
                <p class="lead mb-xl mt-lg">Premiações e Entrevistas</p>
                <div class="divider divider-primary divider-small mb-xl">
                    <hr>
                </div>
                <div class="row mt-xl" *ngFor="let video of videos | async">
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9 mb-xl">
                            <iframe [src]="transform(video)" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="mt-xl mb-none">{{ video.titulo }}</h1>
                        <p style="text-align: justify" class="lead mb-xl mt-lg">{{ video.descricao }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>