<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-md-12">
        <div class="blog-posts single-post mt-xl">
          <article style="margin-left: 0px;" class="post post-large blog-single-post">
            <div class="post-content">
              <h1>{{ (evento | async)?.titulo }}</h1>
              <div class="divider divider-primary divider-small mb-xl">
                <hr>
              </div>
              <div class="post-meta">
                <span>
                  <i class="fa fa-calendar"></i>
                  <a href="#"> {{ (evento | async)?.data }} </a>
                </span>
              </div>
              <img src="{{ (evento | async)?.imagem }}" class="img-responsive pull-left mb-xs mr-xl" alt="" style="width: 195px; height: 235px;">

              <p class="lead" style="text-align: justify;">{{ (evento | async)?.descricao_resumida }}</p>

              <p style="text-align: justify;">{{ (evento | async)?.descricao_completa }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>