<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-sm-9">
        <div class="row mt-xl mb-xl">
          <div class="col-sm-4 center">
            <img src="../../assets/img/areas/our-office-8.jpg" class="img-responsive mb-xl" alt="">
          </div>
          <div class="col-sm-8">
            <h1 class="mt-none mb-sm">Acesso ao STJ</h1>
            <p style="text-align: justify" class="lead">O Escritório Marques Siqueira Associados possui uma atuação constante e qualificada no Superior Tribunal de Justiça
              (STJ), em Brasília.</p>
            <div class="divider divider-primary divider-small mb-xl">
              <hr>
            </div>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-sm-12">
            <p style="text-align: justify">Nossos advogados possuem conhecimento, expertise e especialização em recursos internos. Uma experiência que soma
              em favor nas causas dos nossos clientes durante o acompanhamento de processos no órgão.</p>

            <h2 class="mt-xlg mb-md">Serviços</h2>

            <ul class="list list-icons list-primary mt-xl mb-xlg">
              <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                <i class="fa fa-check"></i> Descrição serviço 1.</li>
              <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                <i class="fa fa-check"></i> Descrição serviço 2.</li>
              <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                <i class="fa fa-check"></i> Descrição serviço 3.</li>
              <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
                <i class="fa fa-check"></i> Descrição serviço 4.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <aside class="sidebar">
          <h4 class="mt-xl mb-none">Advogados Relacionados</h4>
          <div class="divider divider-primary divider-small mb-xl">
            <hr>
          </div>
          <div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 3000}'>
            <div class="center">
              <a href="../equipe-advogados/walter-marques.html">
                <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                  <span class="thumb-info-wrapper">
                    <img src="../../assets/img/equipe/alessandra.jpg" class="img-responsive" alt="">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Saiba mais</span>
                    </span>
                  </span>
                </span>
              </a>
              <h5 class="p-none m-none pt-md">Walter Marques Siqueira</h5>
            </div>
            <div class="center">
              <a href="../equipe-advogados/maisa-ribeiro.html">
                <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                  <span class="thumb-info-wrapper">
                      <img src="../../assets/img/equipe/cesar.jpg" class="img-responsive" alt="">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Saiba mais</span>
                    </span>
                  </span>
                </span>
              </a>
              <h5 class="p-none m-none pt-md">Maisa Ribeiro de Sousa</h5>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>