<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-sm-12">
        <div class="row mt-xl mb-xl">
          <div class="col-sm-12">
            <h1 class="mt-none mb-sm">{{ (area | async)?.nome }}</h1>
            <p style="text-align: justify" class="lead">{{ (area | async)?.subtitulo }}</p>
            <div class="divider divider-primary divider-small mb-xl">
              <hr>
            </div>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-sm-12">
            <p style="text-align: justify">{{ (area | async)?.descricao }}</p>
            <h2 *ngIf="(area | async)?.servicos" class="mt-xlg mb-md">Serviços</h2>
            <p style="text-align: justify">{{ (area | async)?.servicos }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
