<div role="main" class="main">
    <div class="container">
        <div class="row pt-xl mb-lg">
            <div class="col-md-12">
                <h1 class="mt-xl mb-none">Clientes</h1>
                <p class="lead mb-xl mt-lg">Conheça alguns de nossos Clientes</p>
                <div class="divider divider-primary divider-small mb-xl">
                    <hr>
                </div>
                <div class="row mt-xl">
                    <div class="content-grid pl-md pr-md">
                        <div class="content-grid-row">
                            <div class="content-grid-item col-sm-4 col-md-2 center" *ngFor="let cliente of clientes | async">
                                <img src="{{ cliente.imagem }}" alt class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>