<div role="main" class="main">
    <div class="container">
        <div class="row pt-xl mb-lg">
            <div class="col-md-12">
                <h1 class="mt-xl mb-none">Clientes</h1>
                <p class="lead mb-xl mt-lg">Conheça alguns de nossos Clientes</p>
                <div class="divider divider-primary divider-small mb-xl">
                    <hr>
                </div>
                <div class="row mt-xl">
                    <div class="content-grid pl-md pr-md">
                        <div class="content-grid-row">
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/abengoaBrasil.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/accg.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/apsol1.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/asnab.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/bsBios.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/capul.jpg" alt class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="content-grid pl-md pr-md">
                        <div class="content-grid-row">
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/caramuru.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/conservas-ole.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/cooxupe.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/dezz.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/elecnor.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/goodyear.jpg" alt class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="content-grid pl-md pr-md">
                        <div class="content-grid-row">
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/hemovida.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/ibia.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/ihg.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/isolux.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/kowalski.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/netTravel.jpg" alt class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="content-grid pl-md pr-md">
                        <div class="content-grid-row">
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/oscarSalgado.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/qualitti.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/recmed.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/renaissance.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/roan.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/selecta.jpg" alt class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="content-grid pl-md pr-md">
                        <div class="content-grid-row">
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/servitec.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/siaeg.jpg" alt class="img-responsive" />
                            </div>
                            <div class="content-grid-item col-sm-4 col-md-2 center">
                                <img src="../../assets/img/clientes/stateGrid.jpg" alt class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>