<div role="main" class="main">

  <div class="slider-container rev_slider_wrapper" style="height: 650px;">
    <div id="revolutionSlider" class="slider rev_slider">
      <ul>
        <li data-transition="fade" data-title="Bem vindo" data-thumb="img/slide/slide-law-firm-3.jpg">

          <img src="../../assets/img/slide/slide-law-firm-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
            class="rev-slidebg">

          <div class="tp-caption top-label" data-x="left" data-hoffset="100" data-y="center" data-voffset="-95" data-start="1000" style="z-index: 5"
            data-transform_in="y:[-300%];opacity:0;s:500;">BEM VINDO À MARQUES SIQUEIRA</div>

          <div class="tp-caption main-label" data-x="left" data-hoffset="100" data-y="center" data-voffset="-45" data-start="1500"
            data-whitespace="nowrap" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5"
            data-mask_in="x:0px;y:0px;">NOSSO LEMA</div>

          <div class="tp-caption bottom-label" data-x="left" data-hoffset="100" data-y="center" data-voffset="5" data-start="2000"
            style="z-index: 5" data-transform_in="y:[100%];opacity:0;s:500;">Disponibilidade, Agilidade e Competência</div>

          <a class="tp-caption btn btn-primary btn-lg" [routerLink]="['/sobre']" data-x="left" data-hoffset="100" data-y="center" data-voffset="80"
            data-start="2500" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;"
            style="z-index: 5" data-mask_in="x:0px;y:0px;">Conheça-nos</a>

        </li>

        <li data-transition="fade" data-title="Àreas de Atuação" data-thumb="img/slide/slide-law-firm-2.jpg">

          <img src="../../assets/img/slide/slide-law-firm-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
            class="rev-slidebg">

          <div class="tp-caption main-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-205" data-start="1000"
            style="z-index: 5; font-size: 40px;" data-transform_in="y:[-300%];opacity:0;s:500;">ÁREAS DE ATUAÇÃO</div>

          <div class="tp-caption tp-caption-overlay-opacity bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-145"
            data-start="1500" data-transform_in="x:[-100%];opacity:0;s:500;">
            <i class="fa fa-check"></i> Acesso ao STJ</div>

          <div class="tp-caption tp-caption-overlay-opacity bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-100"
            data-start="1800" data-transform_in="x:[-100%];opacity:0;s:500;">
            <i class="fa fa-check"></i> Direito Civil</div>

          <div class="tp-caption tp-caption-overlay-opacity bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-55"
            data-start="2100" data-transform_in="x:[-100%];opacity:0;s:500;">
            <i class="fa fa-check"></i> Direito Trabalhista</div>

          <div class="tp-caption tp-caption-overlay-opacity bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-10"
            data-start="2400" data-transform_in="x:[-100%];opacity:0;s:500;">
            <i class="fa fa-check"></i> Direito Previdenciário</div>

          <div class="tp-caption tp-caption-overlay-opacity bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="35"
            data-start="2700" data-transform_in="x:[-100%];opacity:0;s:500;">
            <i class="fa fa-check"></i> Direito Comercial</div>

          <div class="tp-caption tp-caption-overlay-opacity bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="80"
            data-start="3000" data-transform_in="x:[-100%];opacity:0;s:500;">
            <i class="fa fa-check"></i> Relação de Consumo</div>

          <a class="tp-caption btn btn-primary btn-lg" data-hash data-hash-offset="85" [routerLink]="['/areas']" data-x="right" data-hoffset="100"
            data-y="center" data-voffset="150" data-start="3500" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
            data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Veja todas
            <i class="fa fa-long-arrow-right"></i>
          </a>

        </li>
        <li data-transition="fade" data-title="Nossa Equipe" data-thumb="img/slide/slide-law-firm-1.jpg">

          <img src="../../assets/img/slide/slide-law-firm-3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
            class="rev-slidebg">

          <div class="tp-caption top-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-95" data-start="1000"
            style="z-index: 5" data-transform_in="y:[-300%];opacity:0;s:500;">PROFISSIONAIS QUALIFICADOS</div>

          <div class="tp-caption main-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="-45" data-start="1500"
            data-whitespace="nowrap" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5"
            data-mask_in="x:0px;y:0px;">NOSSA EQUIPE</div>

          <div class="tp-caption bottom-label" data-x="right" data-hoffset="100" data-y="center" data-voffset="5" data-start="2000"
            style="z-index: 5" data-transform_in="y:[100%];opacity:0;s:500;">Profissionais qualificados e especialistas nas mais diversas áreas do Judiciário.</div>

          <a class="tp-caption btn btn-primary btn-lg" data-hash data-hash-offset="85" [routerLink]="['/equipe', 'advogado']" data-x="right"
            data-hoffset="100" data-y="center" data-voffset="80" data-start="2500" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
            data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Conheça
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="section section-default section-no-border mt-none">
    <div class="container">
      <div class="row mb-xl">
        <div class="col-md-7">
          <h2 class="mt-xl mb-none">Disponibilidade, Agilidade & Competência</h2>
          <div class="divider divider-primary divider-small mb-xl">
            <hr>
          </div>
          <p style="text-align: justify;" class="mt-lg">Este é o alicerce da filosofia de trabalho do Marques Siqueira Advogados Associados fundamentada no pleno respeito
            aos interesses de seus constituintes e apoiada na ética e responsabilidade profissional. A experiência e a solidez
            de anos de atuação no meio jurídico mostram que somente assim, torna-se possível construir uma relação profissional
            duradoura entre o Escritório e o Cliente.</p>
          <a class="mt-md" [routerLink]="['/sobre']"> Saiba mais
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <h4 class="mt-xl mb-none">Objetivo</h4>
          <div class="divider divider-primary divider-small mb-xl">
            <hr>
          </div>
          <p style="text-align: justify;" class="mt-lg">O Marques Siqueira Advogados Associados tem como objetivo promover o pleno exercício do direito de empresas e pessoas
            físicas, bem como satisfazer as necessidades para uma assessoria jurídica, preventiva e/ou contenciosa, nas áreas
            em que a equipe de advogados do Escritório atua...</p>
          <a class="mt-md" [routerLink]="['/sobre']"> Saiba mais
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ÁREAS DE ATUAÇÃO -->
  <div class="container" id="practice-areas">
    <div class="row">
      <div class="col-md-12 center">
        <h2 class="mt-xl mb-none">Áreas de Atuação</h2>
        <div class="divider divider-primary divider-small divider-small-center mb-xl">
          <hr>
        </div>
      </div>
    </div>
    <div class="row mt-lg">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl">
          <div class="feature-box-icon">
            <img src="../../assets/img/icons/criminal-law.png" alt="" />
          </div>
          <div class="feature-box-info ml-md">
            <h4 class="mb-sm">Acesso ao STJ</h4>
            <p>Atuação constante e qualificada no Superior Tribunal de Justiça (STJ), em Brasília...</p>
            <a class="mt-md" href="areas-atuacao/acesso-stj.html">Saiba mais
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl">
          <div class="feature-box-icon">
            <img src="../../assets/img/icons/business-law.png" alt="" />
          </div>
          <div class="feature-box-info ml-md">
            <h4 class="mb-sm">Direito Civil</h4>
            <p>Assessoria para elaboração e análise de contratos civis em geral. Confecção de defesas...</p>
            <a class="mt-md" href="areas-atuacao/direito-civil.html">Saiba mais
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl">
          <div class="feature-box-icon">
            <img src="../../assets/img/icons/health-law.png" alt="" />
          </div>
          <div class="feature-box-info ml-md">
            <h4 class="mb-sm">Direito Trabalhista</h4>
            <p>Advocacia Preventiva, acompanhamento das Rotinas, Normas e Regulamentos da Empresa...</p>
            <a class="mt-md" href="areas-atuacao/direito-trabalhista.html">Saiba mais
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-md mb-xl">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl">
          <div class="feature-box-icon">
            <img src="../../assets/img/icons/divorce-law.png" alt="" />
          </div>
          <div class="feature-box-info ml-md">
            <h4 class="mb-sm">Direito Previdenciário</h4>
            <p>Consultoria preventiva nas empresas e entes públicos, Análise de processos para concessão...</p>
            <a class="mt-md" href="areas-atuacao/direito-previdenciario.html">Saiba mais
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl">
          <div class="feature-box-icon">
            <img src="../../assets/img/icons/capital-law.png" alt="" />
          </div>
          <div class="feature-box-info ml-md">
            <h4 class="mb-sm">Direito Comercial</h4>
            <p>Consultoria e resolução de problemas relativos a contratos e obrigações comerciais...</p>
            <a class="mt-md" href="areas-atuacao/direito-comercial.html">Saiba mais
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl">
          <div class="feature-box-icon">
            <img src="../../assets/img/icons/accident-law.png" alt="" />
          </div>
          <div class="feature-box-info ml-md">
            <h4 class="mb-sm">Relação de Consumo</h4>
            <p>Assessoria na defesa dos interesses dos clientes em questões relacionadas ao consumo...</p>
            <a class="mt-md" href="areas-atuacao/relacao-de-consumo.html">Saiba mais
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- EQUIPE
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h2 class="mt-xl mb-none">Nossa Equipe</h2>
          <div class="divider divider-primary divider-small divider-small-center mb-xl">
            <hr>
          </div>
        </div>
      </div>
      <div class="row mt-lg">
        <div class="owl-carousel owl-theme owl-team-custom show-nav-title" data-plugin-options='{"items": 4, "margin": 10, "loop": false, "nav": true, "dots": false}'>
          <div class="center mb-lg" *ngFor="let funcionario of funcionarios | async">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
          </div>

          <div class="center mb-lg">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
            <h5 class="mb-sm">OAB/GO nº 11.730 e OAB/DF nº 26.819</h5>
          </div>
          <div class="center mb-lg">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
            <h5 class="mb-sm">OAB/GO nº 11.730 e OAB/DF nº 26.819</h5>
          </div>
          <div class="center mb-lg">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
            <h5 class="mb-sm">OAB/GO nº 11.730 e OAB/DF nº 26.819</h5>
          </div>
          <div class="center mb-lg">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
            <h5 class="mb-sm">OAB/GO nº 11.730 e OAB/DF nº 26.819</h5>
          </div>
          <div class="center mb-lg">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
            <h5 class="mb-sm">OAB/GO nº 11.730 e OAB/DF nº 26.819</h5>
          </div>
          <div class="center mb-lg">
            <a href="equipe-advogados/walter-marques.html">
              <img src="../../assets/img/equipe/team-22.jpg" class="img-responsive" alt="">
            </a>
            <h4 class="mt-md mb-none">Walter Marques Siqueira </h4>
            <p class="mb-none">Advogado Sócio Titular</p>
            <span class="thumb-info-social-icons mt-sm pb-none"></span>
            <h5 class="mb-sm">OAB/GO nº 11.730 e OAB/DF nº 26.819</h5>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ULTIMAS NOTÍCIAS -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h2 class="mt-xl mb-none">Últimas Notícias</h2>
        <div class="divider divider-primary divider-small divider-small-center mb-xl">
          <hr>
        </div>
      </div>
    </div>
    <div class="row mt-xl">
      <div class="col-md-6" *ngIf="noticia_home_1">
        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-xl">
          <span class="thumb-info-side-image-wrapper p-none hidden-xs">
            <a title="">
              <img src="{{ (noticia_home_1 | async)?.imagem }}" class="img-responsive" alt="" style="width: 195px; height: 235px;">
            </a>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text">
              <h2 class="mb-md mt-xs">
                <a title="" class="text-dark" [routerLink]="['/noticias-detalhe', noticia_home_1_UID]">{{ (noticia_home_1 | async)?.titulo_home }}</a>
              </h2>
              <span class="post-meta">
                <span>{{ (noticia_home_1 | async)?.data }}
                  <a href="#"></a>
                </span>
              </span>
              <p class="font-size-md">{{ (noticia_home_1 | async)?.descricao_resumida }}</p>
              <a class="mt-md" [routerLink]="['/noticias-detalhe', noticia_home_1_UID]">Leia mais...
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </span>
          </span>
        </span>
      </div>
      <div class="col-md-6" *ngIf="noticia_home_2">
        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-xl">
          <span class="thumb-info-side-image-wrapper p-none hidden-xs">
            <a title="">
              <img src="{{ (noticia_home_2 | async)?.imagem }}" class="img-responsive" alt="" style="width: 195px; height: 235px;">
            </a>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text">
              <h2 class="mb-md mt-xs">
                <a title="" class="text-dark" [routerLink]="['/noticias-detalhe', noticia_home_2_UID]">{{ (noticia_home_2 | async)?.titulo_home }}</a>
              </h2>
              <span class="post-meta">
                <span>{{ (noticia_home_2 | async)?.data }}
                  <a href="#"></a>
                </span>
              </span>
              <p class="font-size-md">{{ (noticia_home_2 | async)?.descricao_resumida }}</p>
              <a class="mt-md" [routerLink]="['/noticias-detalhe', noticia_home_2_UID]">Leia mais...
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>