<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-md-12">
        <h1 class="mt-xl mb-none">Áreas de Atuação</h1>
        <div class="divider divider-primary divider-small mb-xl">
          <hr>
        </div>
        <p style="text-align: justify" class="lead mb-xl mt-lg">Ao longo da sua existência, o Marques Siqueira
          Advogados Associados tem acumulado experiência na prestação dos serviços
          jurídicos que desenvolve, atuando como um parceiro estratégico dos seus Clientes na busca da solução jurídica
          mais
          eficiente e adequada a cada um.</p>
        <p style="text-align: justify">O Escritório presta serviços nos principais ramos do Direito, sendo suas
          atividades focadas principalmente nas áreas
          do Direito Civil, Trabalhista, Tributário, Comercial, Previdenciário, Relação de Consumo, Propriedade
          Intelectual
          e Direito Administrativo.</p>
        <p style="text-align: justify">Além de Goiás, o Escritório atua diretamente em vários Estados do Brasil, como
          Rio de Janeiro, São Paulo, Rio Grande
          do Sul, Mato Grosso, Sergipe, Minas Gerais, Tocantins, Paraná, Espírito Santo, Santa Catarina, Distrito
          Federal
          e outros. Em Brasília, a atuação é regular, com a presença de advogados para agilizar e acompanhar com mais
          eficiência
          os processos que tramitam nos Tribunais Superiores.</p>
        <br />
        <div class="row mt-xl">
          <div class="col-md-6" *ngFor="let area of areas | async">
            <div class="feature-box feature-box-style-2 mb-xl">
              <div class="feature-box-icon">
                <img src="{{ area.imagem }}" alt="" />
              </div>
              <div class="feature-box-info ml-md">
                <h4 class="mb-sm">{{ area.nome }}</h4>
                <p>{{ area.subtitulo }}</p>
                <a class="mt-md" [routerLink]="['/areas-detalhe', area.id]">Saiba mais
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
