<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-md-12">
        <div class="blog-posts single-post mt-xl">
          <article style="margin-left: 0px;" class="post post-large blog-single-post">
            <div class="post-content">
              <h1>Honorários de Advogado Contratado para Ajuizar Recuperação Devem ter Privilégio na Falência</h1>
              <div class="divider divider-primary divider-small mb-xl">
                <hr>
              </div>
              <div class="post-meta">
                <span>
                  <i class="fa fa-calendar"></i>
                  <a href="#"> 07 de outubro de 2016 </a>
                </span>
              </div>
              <img src="../../assets/img/noticias/blog-law-firm-1.jpg" class="img-responsive pull-left mb-xs mr-xl" alt="" style="width: 195px;">

              <p class="lead" style="text-align: justify;">Acompanhando o voto do relator, Luis Felipe Salomão, os ministros entenderam que o fato de a contratação dos
                serviços ter sido acertada verbalmente antes do deferimento da recuperação não afasta o caráter extraconcursal
                do crédito.</p>

              <p style="text-align: justify;">Em primeira instância, o juiz havia classificado os honorários advocatícios como créditos quirografários (sem
                nenhum privilégio), por entender que só poderiam ser considerados extraconcursais (que são pagos com precedência
                sobre os demais) os resultantes de contratos firmados após a efetiva concessão da recuperação judicial. O
                TJ/SP reformou a decisão e classificou os créditos dos advogados como extraconcursais.</p>

              <p style="text-align: justify;">A questão discutida, segundo o ministro Salomão, era saber se podem ser considerados extraconcursais os créditos
                devidos a advogados que foram contratados para formular e acompanhar o pedido de recuperação judicial, inclusive
                na hipótese de falência da empresa. No caso, houve contratação verbal anterior ao pedido de recuperação,
                e a formalização da avença só ocorreu depois.</p>

              <p style="text-align: justify;">Para o ministro, é preciso fazer uma interpretação lógico-sistemática e teleológica das normas e dos princípios
                norteadores da lei 11.101/05, que regula a recuperação judicial e a falência de empresas.</p>

              <p style="text-align: justify;">A massa falida argumentou que as obrigações com o escritório de advocacia foram assumidas antes da recuperação
                judicial, não podendo ser enquadradas, portanto, na classificação de extraconcursal.</p>

              <p style="text-align: justify;">De acordo com o relator, a afirmação da recorrente precisa ser analisada dentro de um contexto, já que a sociedade
                de advogados foi contratada justamente para formular e acompanhar o plano de recuperação.</p>

              <p style="text-align: justify;">Tendo em vista o objetivo de fomentar a continuidade da empresa, disse Salomão, “quando se tratar de crédito
                decorrente de contrato de execução continuada ou periódica, a data da celebração deste (verbal ou escrito)
                não pode ser considerada, por si só, como fato jurídico deflagrador da incidência ou não do benefício legal
                em comento”.</p>

              <p style="text-align: justify;">Para o ministro, no caso analisado, houve “evidente execução continuada”, com a maior parte dos serviços sendo
                prestada após o deferimento da recuperação. Segundo ele, a questão ganhou importância porque a classificação
                quirografária poderia desestimular a recuperação judicial, já que implicaria para os advogados o risco de
                não receber no futuro pelo trabalho prestado às empresas em crise. Ao mesmo tempo, dificultaria que empresas
                encontrassem profissionais qualificados dispostos a lhes dar assistência na recuperação judicial.</p>

              <p style="text-align: justify;">Luis Felipe Salomão afirmou que a regra estabelecida no artigo 84 da lei 11.101 “decorre da constatação de
                que uma legislação vocacionada ao saneamento financeiro da empresa deficitária será inócua se não contemplar
                privilégios especiais àqueles que, assumindo riscos consideráveis, contribuírem, efetivamente, para a reestruturação
                da fonte produtora de bens, serviços, empregos e tributos”.</p>

              <div class="post-meta">
                <span>
                  <i class="fa fa-globe"></i>Fonte:
                  <a target="_blank" href="http://www.migalhas.com.br/Quentes/17,MI247050,21048-Honorarios+de+advogado+contratado+para+ajuizar+recuperacao+devem+ter">
                    http://www.migalhas.com.br/Quentes/17,MI247050,21048-Honorarios+de+advogado+contratado+para+ajuizar+recuperacao+devem+ter
                  </a>
                </span>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>