<div role="main" class="main">
  <div class="container">
    <div class="row pt-xl">
      <div class="col-sm-12">
        <div class="row mt-xl mb-xl">
          <div class="col-sm-4 center">
            <img src="{{ (equipe | async)?.imagem }}" class="img-responsive mb-xl" alt="">
          </div>
          <div class="col-sm-8">
            <h1 class="mt-none mb-none">{{ (equipe | async)?.nome }}</h1>
            <p class="lead">{{ (equipe | async)?.posicao }}</p>
            <div class="divider divider-primary divider-small mb-xl">
              <hr>
            </div>
            <ul class="list list-icons">
              <li>
                <i class="fa fa-certificate"></i>
                <strong>{{ (equipe | async)?.OAB }}</strong></li>
              <li>
                <i class="fa fa-envelope"></i>
                <strong>Email:</strong> {{ (equipe | async)?.email }}</li>
            </ul>
            <span class="thumb-info-social-icons p-none mt-lg pt-lg">
              <a href="http://www.facebook.com" target="_blank">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
              <a href="http://www.twitter.com">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
              </a>
              <a href="http://www.linkedin.com">
                <i class="fa fa-linkedin"></i>
                <span>Linkedin</span>
              </a>
            </span>
          </div>
        </div>
        <div class="row mt-xl">
          <div class="col-sm-12">
            <p style="text-align: justify" class="lead pb-xl">{{ (equipe | async)?.descricao }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
